html {
    overflow-x: hidden;
}
body {
    background-color: black;
}
.title {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    color: #ffffff;
}
.title2 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #ffffff;
}
.navbar {
    overflow: hidden;
    background-color: #1d1d1d;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -10px;
}
.navbar a {
    background-image: linear-gradient(
    to right,
    #638891,
    #638891 50%,
    #ffffff 50%
  );
    float: right;
    font-size: 20px;
    text-align: center;
    padding: 22px 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}  
.navbar a:hover {
    background-position: 0;
}
.navbar a:hover::before {
    width:100%;
  }
.navbar a:before {
    content: '';
    background: #638891;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
.main {
    background-color: #1d1d1d;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 93.5%;
    border-radius: 3px;
    position: fixed;
    bottom: 0%;
    margin-left: -10px;
    overflow-y: scroll;
}
.maintitle {
    font-size: 55px;
    font-family: 'Archivo Black';
    text-align: center;
    color: #ffffff;
    padding-top: none;
    padding-bottom: none;
}
.subtext1 {
    font-size: 24px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
.subtext2 {
    font-size: 24px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
    color: #000000;

}
.subtitle1 {
    font-size: 34px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
.subtitle2 {
    font-size: 34px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
    color: #000000;
}
.subtitle2a {
    font-size: 34px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
    color: #000000;
    padding-top: 20px;
}
.subtext3 {
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #ffffff;
}
.subtext2a {
    font-size: 24px;
    font-family: 'Raleway';
    position: relative;
    width: 500px;
    float: left;
    font-weight: bold;
    color: #000000;
    padding-left: 20%;
    padding-bottom: 20px;
}
.hex1 {
    position: absolute;
    bottom: -945px;
    left: 0px;
    height: 450px;
    width: 260px;
}
.hex2 {
    position: absolute;
    bottom: -805px;
    right: 0px;
    height: 450px;
    width: 200px;
}
.email {
    text-decoration: none;
    color: #ffffff;
}
.email:hover {
    color: #1d1d1d;
}
#intro {
    color: #ffffff;
}
#company {
    background-color: #ffffff;
    color: black;
}
#chart {
    float: left;
    padding-left: 70px;

}
#people {
    width: 100%;
    height: auto;
}
#strat {
    background-color: #ffffff;
    color: #000000;
}
iframe {
    margin: 0 auto;
}
#comp1 {

}
#comp2 {

}
#comp3 {
    padding-bottom: 20px;
}
.mainimg {
    height: 400px;
    width: 100%;
    object-fit: fill;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #000000;
}
*::-webkit-scrollbar {
    width: 11px;
}
*::-webkit-scrollbar-track {
    background: #000000;
}
*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0px;
    border: 3px none #ffffff;
}
.teammem {
    height: 300px;
    width: 800px;
    background-color: #ffffff;
}
.teammemimg {
    height: 300px;
    width: 300px;
}
.center {
    font-size: 34px;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
/* Three columns side by side */
.column1 {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding-left: 25%;
    padding-right: 5%;
  }
  .column2 {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding-left: 5%;
    padding-right: 25%;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(119, 119, 119, 0.2);
    background-color: #638891;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }